.self-stretch.my-auto *,
button *,
h2,
.flex.flex-col.w-3\/12.max-md\:ml-0.max-md\:w-full * {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.self-stretch.my-auto *:hover, 
button *,
h2:hover, 
.flex.flex-col.w-3\/12.max-md\:ml-0.max-md\:w-full *:hover {
    transform: scale(1.05);
}

.w-full *:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.01);
}